body {
  background-color: #fbfbfb;
  height: 100vh;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

.sidebarMenu {
  margin-left: 250px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Set the color of the top navbar to black */
.navbar-black {
  background-color: #000;
}

/* Set the color of the sidebar to blue */
.sidebar-blue {
  background-color: #0000ff;
}

/* Set the color of all text and icons in the navbar and sidebar to white */
.navbar-black *,
.sidebar-blue * {
  color: #fff !important;
}

/* Set the color of all icons to white */
.fas {
  color: #fff !important;
}

/* Add a dropshadow to the navbar */
.navbar-black {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#alllinks {
  background-color: blue;
}

#alllinks:hover {
  background-color: rgb(255, 81, 0);
  color: white;
}

#alllinks.active {
  background-color: rgb(255, 81, 0);
  color: white;
}
