
.navbar-container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-link {
    color: white;
    font-weight: bold;
}

.hero-section {
    background-image: url(../img/002.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.register-hero-section {
    background-image: url(../img/002.jpg);
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


